/* 

TODO: dotted underline spans in hero text!

*/

/* 
========= Global =========
*/

html {
    font-size: 16px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    text-align: center;
    color: #3b3b3b;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
}

h1,
h2 {
    text-align: center;
}

a {
    color: #3482B3;
}

a:hover {
    color: #3190CC;
}

div.container-fluid {
    padding: 0;
}

section {
    padding: 3rem 1rem;
    min-height: 50vh;
}

.bg-primary {
    background: #ff5757 !important;
}

/* 
========= Video =========
*/

header {
    position: relative;
    background-color: #3b3b3b;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container-fluid {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #3b3b3b;
    opacity: 0.5;
    z-index: 1;
}

@media only screen and (max-width: 576px) {
    header {
        background: url(https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80) #3b3b3b no-repeat center center scroll;
        background-size: cover;
    }

    header video {
        display: none;
    }
}

/* 
========= Welcome =========
*/

#welcome {
    /* background: url(https://images.unsplash.com/photo-1454165205744-3b78555e5572?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3150&q=80) no-repeat center center;
    background-size: cover; */
    width: 100%;
    height: 100vh;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

#message {
    color: rgb(255, 255, 255);
    font-style: italic;
    align-self: center;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

#message > h1 {
    font-size: 5rem;
    font-weight: 900;
}

#message > h2 {
    font-size: 3rem;
    font-weight: 700;
}

#message span {
    background-image: linear-gradient(to right, white 50%, transparent 50%);
    background-position: 0 1.15em;
    background-repeat: repeat-x;
    background-size: 10px 3px;
}

/* 
========= Who I Am =========
*/

section#who {
    text-align: center;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    color: rgb(241, 241, 241);
}

section#who > div.row {
    align-self: center;
    justify-content: center;
}

/* 
========= What I Do =========
*/

#what img {
    width: 50%;
    margin: 1.5rem 0;
}

section#what p.lead {
    text-align: center;
}

section#what div.col-12,
section#what div.col-md-3 {
    display: flex;
    flex-flow: column nowrap;
}

img.icon {
    align-self: center;
}

/* 
========= Stuff =========
*/

#stuff h1 {
    color: white;
}

div.card.border-primary {
    border-color: #ff5757 !important;
}

/* 
========= Contact =========
*/

section#contact {
    display: flex;
    flex-flow: column nowrap;
}

ul#socials {
    font-size: 2em;
}

div.contact-container {
    margin: 0 auto;
}

ul#socials li {
    display: table;
    margin: 1rem 1rem 1rem -0.5rem;
}

ul#socials li a {
    padding: 1rem;
    border: thin solid transparent;
}

ul#socials li a,
ul#socials li a:hover {
    color: #3b3b3b;
    text-decoration: none;
}

@media screen and (min-width: 992px) {
    ul#socials li a:hover {
        border: thin solid #ff5757;
        border-radius: 30px;
    }
}

#contact .lead {
    margin: 1.5rem auto;
    max-width: 75rem;
    align-self: center;
}

#contact a {
    max-width: 10rem;
    align-self: center;
}

.modal-dialog {
    max-width: 90% !important;
}

/* 
========= Footer =========
*/

footer {
    margin: 1rem;
}

footer small a,
footer small a:hover {
    font-weight: 700;
    text-decoration: none;
}

/* 
========= Technologies =========
*/

.js {
    color: #FF5757;
}

.html {
    color: #CC5E31;
}

.css {
    color: #3190CC;
}

.json {
    color: #19B344;
}

.node {
    color: #B32B2B;
}

.mongo {
    color: #FFA3A3;
}

.mysql {
    color: #67CC31;
}

.react {
    color: #E84396;
}
